.brand {
    background-color: #F1E4E6;
    display: flex;  
    height: 765px;
}

.brand__img {
    width: 800px;
}

.brand__wrp {
    display: flex;
    align-items: center;
    padding-left: 92px;
    background-color: #F1E4E6;
}

.brand__title:before {
    width: 12px;
    height: 92px;
    position: absolute;
    content: '';
    background-color: #F16D7F;
    background-size: 92px 12px;
    left: 855px;
    top: 410px;
}

.brand__title {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__subtitle {
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand__pink {
  color: #F16D7F;
}
@media (min-width: 767px) and (max-width: 1023px) {
    .brand {
        height: 368px;
    }
    .brand__img {
        width: 386px;
        height: 368px;
    }
    
    .brand__title {
        font-size: 34px;
    }

    .brand__subtitle {
        font-size: 22px;
    }

    .brand__title:before {
        left: 445px;
        top: 207px;
    }
}