.card__overlay {
    position: relative;
}

.card__overlay:before {
    content: '';
    width: 360px;
    min-height: 420px;
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
    display: none;
}
.cart__logo {
    width: 24px;
    height: 24px;
}

.cart__text {
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0em;
    color: #fff;
}

.card__title {
    margin-bottom: 12px;
    padding-left: 18px;
    font-family: Lato;
    font-weight: 900;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
}

.card__text {
    margin-bottom: 18px;
    padding-left: 18px;
    padding-right: 28px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.card__price {
    text-decoration: none;
    padding-left: 18px;
    padding-bottom: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}
